/**
 * Plugin for trilium notes.
 *
 * Type: CSS
 * Required attributes
 *   - `#appCss`
 */

span.fancytree-node.today .fancytree-title {
  font-weight: 700 !important;
  color: #ba68c8 !important;
}
