<!-- 
  Plugin for trilium notes.

  This template for rendering the summary table for work hour tracker.

  Type: HTML
  Required attributes: None

  Set the parent note (should be "Work hour tracker") to "Render Note" type.
  Then set the relation `~renderNote` to this template.
-->

<label for="month-select">Select a month for reporting</label>

<select name="month" id="month-select"></select>

<button id="month-refresh">Refresh</button>

<table id="work-hour-table" class="table stats-table" style="font-size: 90%">
  <thead>
    <th>Date</th>

    <th>Login time</th>

    <th>Logout time</th>

    <th>Work hour</th>
  </thead>

  <tbody></tbody>
</table>
